/* =========================== INFORMATIONS ==================================== */

/* Ce code a été effectué selon la mise en page que safari propose */
/* Certains <span></span> ont été rajouté pour ressembler à la même mise en page 
que la maquette */

/* ======================= STRUCTURE DE LA PAGE ================================ */

/* Tout le CSS prend en compte la bordure et le remplissage selon la valeur définie */
* { box-sizing : border-box;}

/* Taille du contenu */
.wrapper {
    width: 1170px;
    margin: 0 auto;
} 

/* Fond du site complet */
body {
    margin: 0 auto; 
    background : #ffffff; 
}

/* =========================== EN-TETE ========================================= */

.logo h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 44px;
    font-weight: bold;
    color: #262626;
}

/* Position du header (base) */
header {
    position: relative;
    overflow: hidden;
}

/* Mise en forme des liens du header */
header nav {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color:#b3b3b3;
    float: right;
    margin-top: -100px; 
    text-align: left;
}

header a {text-decoration: none;}

header a:hover,
header span {
    color: #262626;
    text-decoration: none;
}

/* "hamburger" c'est le "symbole" du menu */
/* Positionnement du menu */
.hamburger {
    position: absolute;
    width : 50px;
    height: 50px;
    right: 20px;
    top: 30px;
}

.hamburger span {
    display: block;
    width: 80%;
    height: 3px;
    background: black;
}

.hamburger .line1 {
    position: absolute;
    left: 10%;
    top: 16px;
}

.hamburger .line2 {
    position: absolute;
    right: 10%;
    top: 24px;
    width: 60%;
}

.hamburger .line3 {
    position: absolute;
    left: 10%;
    top: 32px;
}

/* =========================== TITRE ET SOUS-TITRE ============================== */

.titre h1 {
    margin-bottom: 0px; 
    font-family: 'Popins', sans-serif;
    font-size: 63px;
    font-weight: bold; 
    color: #001221;
    width: 50%;
}

.sous-titre h2 {
    margin-bottom: 100px;
    font-family: 'lato', sans-serif ;
    font-size: 16px;
    color: #403f4c;
    width: 45%;
    line-height: 30px;
}

/* ================================ CONTENU ==================================== */

/* Arrière-plan de la partie main */
main {
    padding-top: 20px;
    padding-bottom: 40px;
    background: #f8f8f8;
}

/* Mise en page des liens du main */
a,
main a,
nav {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color:#7d7d85;
    text-transform: capitalize; 
}

a { margin-bottom: 70px;} 

main a { text-decoration: none;}

nav {
    margin-top: 80px;
    margin-bottom: 50px;
    padding-left: 0px;
}


a:hover,/* Action sur les liens que lorsque la souris survole */
main span /* Mise en page du lien avec un span */{
    text-decoration: underline;
    color:#403f4c;
} 

ul { 
    padding: 0; 
    list-style-type: none; 
}

ul li {
    display: inline-block;
    margin :0;
}

/* Marge à gauche sauf pour le premier lien */
ul li + li {margin-left: 30px;}

/* Les images */
figure {
    position: relative; 
    display: inline-block;
    margin: 0 0 20px;  
    width: 33%;
}

figure:hover a,
figure a span { 
    opacity: 0.5;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.32);
}

/* Pour enlever l'effet du hovers sur l'image 2 */
figure:hover a span {
    opacity: 1;
    box-shadow: none;
}

figure p,
figure span p{
    position: absolute;
    padding: 0px 5px 0px;
    margin: 0px 0px 0px 0px;
    bottom: 25px;
    left: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    background: black;
}

figure p { display: none;} /* Permet d'afficher le message qu'en hover */

figure:hover p,
figure span p { 
    display:inline-block; 
} 

/* Boutton Load More */
.button {
    margin-top: 20px;
    text-align: center;
}

/* Comme étant un lien il a les mêmes propriétés que a:hover citer au-dessus 
mais si je ne voulais pas que button agisse de la même manière je devrais
identifier les nav du main comme "ul:hover" et non "a:hover" */
.button a{
    display: inline-block;
    padding: 10px 15px 10px 15px;
    font-family: 'poppins', sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid;
    clear: both;
    text-align: center;
}

/* ================================= PIED DE PAGE =============================== */

/* Base du footer */
footer {   
    width: 1170px;
    margin: 0 auto;
    height: 10em; /* hauteur du parent */
    line-height: 10em; /* hauteur de ligne (identique) */
    white-space: nowrap; /* interdiction de passer à la ligne */
    overflow:hidden;
}
  
footer h4 {
    display: inline-block;
    margin-top: 10px; 
    font-family: 'lato', sans-serif;
    font-size: 14px;
    color: #9c9ba1;
    line-height: 10em; /* hauteur de ligne (identique) */
    text-align: left;
    float:left;
}
  
span {color: #000000;}
  
footer h2 {
    display: inline-block;
    margin-bottom:-300px;
    margin-top:-140px;
    margin-left: 210px; 
    font-family: 'Montserrat', sans-serif;
    font-size: 44px;
    font-weight: bold;
    color: #262626;
    line-height: 10em;  
}
  
footer .icones {
    display: inline-block;
    color: #001221;
    text-align: left;
    line-height: 10em; /* hauteur de ligne (identique) */
    float: right;
}
 
/* Tous les icones ont un margin-left sauf le premier */
footer .icones i + i { margin-left: 15px; }
  
footer h5 {
    display: block;
    margin-top:-130px;
    margin-left: 490px;
    font-family: 'lato', sans-serif;
    font-size: 14px;
    color: #9c9ba1;
    line-height: 10em; 
}


